<div id="config">
    <material-button id="edges" (click)="onEdgesClicked()">
        <material-icon icon="border_all" baseline></material-icon>
    </material-button>
    <span [materialTooltip]="speedSliderTooltip"><material-icon icon="alarm" baseline></material-icon><material-slider
            [max]="10" [min]="1" [(value)]="simSpeed"></material-slider></span>
    Ruleset: <input type="text" title="ruleset" content="S23/B3"><i class="fas fa-paint-brush"></i>
    <material-input
            leadingGlyph="swap_horiz"
            type="number"
            label="Grid Width"
            [(ngModel)]="width"
            required
            checkPositive
            requiredErrorMsg="Enter a number greater than 0"
            trailingText="Cells">
    </material-input>
    <material-input leadingGlyph="swap_vert" type="number" label="Grid Height" [(ngModel)]="height" required
                    checkPositive requiredErrorMsg="Enter a number greater than 0"
                    trailingText="Cells"></material-input>
</div>