<div id="controls">
    <material-button id="save" (click)="onSaveClicked()"><material-icon icon="save" baseline></material-icon></material-button>
    <material-button id="load" (click)="onLoadClicked()"><material-icon icon="history" baseline></material-icon></material-button>
    <material-button id="run" (click)="onStartClicked()">
        <span [ngSwitch]="engine.isRunning">
            <material-icon *ngSwitchCase="false" icon="play_arrow" baseline></material-icon>
            <material-icon *ngSwitchCase="true" icon="pause" baseline></material-icon>
        </span>
    </material-button>
    <material-button id="step" (click)="onStepClicked()" materialTooltip="Step Forward"><material-icon icon="skip_next" baseline></material-icon></material-button>
    <material-button id="random" (click)="onRandomClicked()" materialTooltip="Add Random Pattern"><material-icon icon="add" baseline></material-icon></material-button>
    <material-button id="clear" (click)="onClearClicked()" materialTooltip="Clear"><material-icon icon="clear" baseline></material-icon></material-button>
</div>