<header class="material-header">
    <div class="material-header-row">
        <material-button icon class="material-drawer-button">
            <material-icon icon="menu"></material-icon>
        </material-button>
        <span class="material-header-title">Cellular Automata</span>
        <div class="material-spacer"></div>
        <nav class="material-navigation">
            <a>Link 1</a>
        </nav>
    </div>
</header>